
.inputSmall{
    font-size: 14px !important;
    margin: 3px !important;
    width: 100px !important;
}

.inputMedium{
    font-size: 14px !important;
    margin: 3px !important;
    width: 180px !important;
}

.inputLarge{
    font-size: 14px !important;
    margin: 3px !important;
    width: 280px !important;
}

.textareaMedium{
    font-size: 14px !important;
    margin: 3px !important;
    height: 80px !important;
    width: 176px !important;
}

.textareaLarge{
    font-size: 14px !important;
    margin: 3px !important;
    height: 80px !important;
    width: 276px !important;
}

textarea[disabled],
textarea[readonly],
input[type="password"][disabled],
input[type="password"][readonly],
select[disabled],
select[readonly],
.calendarPF input:disabled,
.calendarSmallPF input:disabled,
.inputMedium:disabled,
.inputLarge:disabled,
.inputMedium:read-only,
.inputLarge:read-only,
.textareaLargePF:read-only{
    color: black !important;
    background: #e9e9e9 !important;
}

.textareaLargePF{
    font-size: 14px !important;
    margin: 3px !important;
    height: 80px !important;
    width: 280px !important;
}

.selectOneMenuLargePF{
    font-size: 14px !important;
    margin: 3px !important;
    width: 260px !important;
}

.calendarPF{
    margin: 3px !important;
    width: 260px !important;
}

.calendarPF input{
    width: 250px !important;
    font-size: 14px !important;
}

.calendarSmallPF{
    margin: 0 !important;
}

.calendarSmallPF input{
    margin: 0 !important;
    width: 85px !important;
    font-size: 14px !important;
}

.selectOneMenuSmallPF{
    font-size: 14px !important;
    margin: 0 !important;
    width: 100px !important;
}

.inputFindPF{
   margin: 3px 0 3px 3px !important;
   width: 249px !important;
   font-size: 14px !important;
}

.textareaLargePF{
    font-size: 14px !important;
    margin: 3px !important;
    height: 80px !important;
    width: 280px !important;
}

.calcDetailTextArea {
    margin-left: 30px !important;
    font-size: 14px !important;
    height: 120px !important;
    width: 276px !important;
}

.inputEditable {
    font-size: 14px !important;
    width: 100% !important;
}