.ui-widget {
    font-size: 14px;
    font-family: Arial, Verdana, sans-serif;
}

.ui-column-title{
    font-size: 16px !important;
    font-family: Arial, Verdana, sans-serif;
}
/*disable borders*/
.ui-panelgrid .ui-panelgrid-cell{
    padding: 0 !important;
    border: none !important;
}

tr.ui-widget-content{
    border: none !important;
}

.ui-accordion .ui-accordion-content {
    padding: 0 !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger{
    width: 22px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{
    margin-top: 5px !important;
    margin-left: 3px !important;
}

/*calendar button*/
.ui-button-icon-only{
    width: 30px !important;
}

.ui-treetable tr:hover,
.ui-treetable-even:hover,
.ui-treetable tr.ui-treetable-odd:hover,
.ui-datatable tr.ui-datatable-even:hover,
.ui-datatable tr.ui-datatable-odd:hover {
    background: #ffdaae !important;
    color: #4f4f4f !important;
    text-shadow: none !important;
}

.ui-widget-content .ui-state-highlight a {
    color: inherit !important;
}

.ui-datatable thead th,
.ui-datatable tbody td,
.ui-datatable tfoot td,
.ui-datatable tfoot th {
    border: 1px solid #a8a8a8 !important;
    padding: 4px 5px 4px 5px !important;
}

.ui-dialog-title {
    font-size: 16px !important;
    font-family: Arial, Verdana, sans-serif;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
    opacity: 1 !important;
}

.ui-datatable-resizable tbody td {
    white-space: pre !important;
}

.ui-button-text-only .ui-button-text{
    padding: 4px 8px !important;
}

