.headerMenu, .headerMenu li {
    margin: 0;
    padding: 0;
}
.headerMenu {
    background: rgb(46,95,122) !important;
}
.headerMenu li {
    display: inline-block;
    text-align: center;
}
.headerMenu a {
    display: block;
    padding: 6px 15px !important;
    color: #fff !important;
    text-decoration: none;
    font: 20px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.headerMenu a:hover {
    background: rgb(96,145,172) !important;
}

.leftMenu, .leftMenu li {
    margin: 0;
    padding: 0;
    width: 150px;
}
.leftMenu {
    background: rgb(46,95,122) !important;
}
.leftMenu li {
    text-align: left;
    list-style-type: none;
}
.leftMenu a {
    display: block;
    padding: 3px 15px !important;
    color: #fff !important;
    text-decoration: none;
    font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.leftMenu a:hover {
    background: rgb(96,145,172) !important;
}
