.even-row {
    background-color: #FCFFFE;
}

.odd-row {
    background-color: #ECF3FE;
    font-size: 20px;
}

.even-row:hover,
.odd-row:hover {
    background-color: #FFEBDA;
    cursor: pointer;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
    font-size: 14px !important;
    margin: 3px !important;
}

textarea, input[type="text"], input[type="password"], select {
    font-size: 14px !important;
    margin: 3px !important;
}

.rf-dt-shdr-c {
    font-size: 16px !important;
}

.rf-dt-c {
    font-size: 14px !important;
}

.rf-pick-opt {
    font-size: 14px !important;
}

.rf-dt {
    margin: 3px !important;
}

.error {
    color: #ff0000 !important;
}

hr {
    width: 100%;
}

.listTitle {
    font-size: 20px; !important;
    font-weight: bold; !important;
    margin: 3px !important;
}